@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import url('https://fonts.cdnfonts.com/css/overused-grotesk');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Overused Grotesk', sans-serif;
  --font-mono: "DM Mono", monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Overused Grotesk', Arial, Helvetica, sans-serif;
}

.font-mono {
  font-family: "DM Mono", monospace;
  text-transform: uppercase;
}

@layer utilities {
  .text-stroke-foreground {
    -webkit-text-stroke: 1px var(--foreground);
  }
}